.title{
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1px;
}

.container{
    margin-top: 3%;
    margin-bottom: 5%;
}

.formContainer{
    margin: 5% 15% 0% 15%;
}

.submitButton{
    margin-top: 32px;
}

.homeContainer{
    margin: 4% 10% 10% 10%;
    text-align: left;
    font-weight: arial;
}

.homeTitle{
    letter-spacing: 1px;
    font-weight: 600;
}

.buttonStyling{
    margin-right: 0px;
    padding: 5px 10px;
}
